.form {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.animals {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.animals>div {
  width: 250px;
  height: fit-content;
}

.animals-cat,
.animals-dog {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
}